# Gitignore
# Modify this as required.

# Ignore the .test-temp directory from the Docker test
docker/test/.test-temp

###
# Entries from Drupal's example.gitignore, not everything has been included
###

# Ignore configuration files that may contain sensitive information.
app/web/sites/*/settings*.php
app/web/sites/*/services*.yml

# Ignore paths that contain user-generated content.
app/web/sites/*/files
app/web/sites/*/private

# Ignore SimpleTest multi-site environment.
app/web/sites/simpletest
