# Cron tasks in this file will be run as the app user inside the cron container
#
# When making changes to this file, simply restart the cron container to apply
# the changes.
#
# min   hour    day     month   weekday command

# Run Drupal Cron using Drush
*      */1     *       *       *       ./vendor/bin/drush core:cron
